{% extends 'front.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="text-center mt-3">{{ place.name }}</h5><hr>
            <div id="quizAjax" class="text-center mt-3">
                <p>{{ 'locating'|trans({}, 'messages') }}</p>
                <div class="spinner-border" role="status"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function loadQuiz(position) {
        var placeLatitude = {{ place.latitude }};
        var placeLongitude = {{ place.longitude }};

        var latitudeDistance = Math.abs(position.coords.latitude - placeLatitude);
        var longitudeDistance = Math.abs(position.coords.longitude - placeLongitude);
        if (latitudeDistance < 0.01 && longitudeDistance < 0.01) {
            $("#quizAjax").load('{{ path('app_place_quiz_ajax', {id: place.id}) }}');
        } else {
            $("#quizAjax").html('<p>{{ 'too_far_away'|trans({}, 'messages') }}</p><a href="javascript:location.reload(true)" class="btn btn-primary">{{ 'refresh'|trans({}, 'buttons') }}</a> <a href="{{ path('app_map_index') }}" class="btn btn-secondary">{{ 'back_to_map'|trans({}, 'buttons') }}</a>');
        }
    }
    navigator.geolocation.getCurrentPosition(loadQuiz);
</script>
{% endblock %}
