<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %} · {{ app_name }}</title>
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/app.min.css') }}">
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block body %}{% endblock %}
        <script src="{{ asset('assets/javascripts/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/javascripts/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
